* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    display: grid;
    place-items: center;
}

#chat-container {
    display: grid;
    grid-template-rows: 1.90fr 0.10fr;
    grid-template-areas:
		"chat-message-list"
		"chat-form";
    grid-gap: 0.1rem;
    min-width: 800px;
    max-width: 1800px;
    max-height: 800px;
    width: 60%;
    height: 60vh;
    background: #FFF;
    border-radius: 10px;
}

#chat-message-list {
    background: black;
    grid-area: chat-message-list;
    border-radius: 0 10px 0 0;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
    overflow-y: scroll;
}

.message-row {
    display: grid;
    margin-bottom: 20px;
    justify-items: start;
    justify-content: start;
}

.message-content {
    display: grid;
}

.message-content {
    grid-template-columns: 0.1fr 1fr;
    grid-column-gap: 15px;
}

.message-row img {
    border-radius: 100%;
    grid-row: span 3;
}

.user-name {
    padding: 5px 10px;
    color: white;
    font-size: 20px;
}

.message-text {
    padding: 10px 15px;
    font-size: 20px;
    margin-bottom: 5px;
}

.message-time {
    font-size: 12px;
    color: #777;
}

.user-message .message-text {
    background: crimson;
    color: #eee;
    border-radius: 15px;
}

.other-message .message-text {
    background: darkcyan;
    color: #eee;
    border-radius: 15px;
}

#chat-form form{
    grid-area: chat-form;
    display: grid;
    grid-template-columns: 2fr 40px;
    align-content: center;
    align-items: center;
    grid-gap: 15px;
    background: orange;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 22px;
    padding-right: 42px;
}

#chat-form input[type=submit] {
    cursor: pointer;
/*ZROBIC NA FONTENELLO     background: url(https://static.thenounproject.com/png/367821-200.png); */
    border: 0;

}

#chat-form input[type=text] {
    outline: none;
    padding: 5px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1rem;
}