* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
    font-size: 20px;
}

body {
    display: grid;
    place-items: center;
}

#chat-container {
    display: grid;
    grid-template-columns: 0.25fr 1.75fr;
    grid-template-rows: 1.80fr 0.20fr;
    grid-template-areas:
		"online-list chat-message-list"
		"online-list chat-form";
    grid-gap: 0.2rem;
    min-width: 800px;
    max-width: 1800px;
    max-height: 800px;
    width: 60%;
    height: 60vh;
    background: #FFF;
    border-radius: 10px;
}

#chat-message-list {
    background: orange;
    grid-area: chat-message-list;
    border-radius: 0 10px 0 0;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
    overflow-y: scroll;
}

.message-row {
    justify-items: end;
    justify-content: end;
    margin-bottom: 20px;
}

.message-content {
    display: grid;
}

.message-content {
    grid-template-columns: 0.1fr 1fr;
    grid-column-gap: 15px;
}

.message-row img {
    border-radius: 100%;
    grid-row: span 3;
}

.user-name {
    padding: 5px 10px;
    color: white;
    font-size: 1.6rem;
}

.message-text {
    padding: 10px 15px;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.message-time {
    font-size: 1.3rem;
    color: #777;
}

.user-message .message-text {
    background: darkorange;
    color: #eee;
    border: 1px solid darkorange;
    border-radius: 15px;
}

.other-message .message-text {
    background: white;
    color: #111;
    border: 1px solid orange;
    border-radius: 15px;
}

#online-list {
    background: darkorange;
    grid-area: online-list;
    border-radius: 10px 0 0 10px;
}

#chat-form {
    grid-area: chat-form;
    display: grid;
    grid-template-columns: 2fr 40px;
    align-content: center;
    align-items: center;
    grid-gap: 15px;
    background: #eee;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 22px;
    padding-right: 42px;
}

#chat-form img {
    cursor: pointer;
}

#chat-form input {
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1.4rem;
}