table {
    /*border-radius: 25px;*/
    margin: auto;
    background-color: black;
    border: 2px orange solid;
    border-collapse: collapse;
    /*padding: 100px;*/
    text-align: center;
    width: 50%;
}

tr, td {
    border-color: #111111;
}

th {
    background-color: #222222;
}