table {
    /*border-radius: 25px;*/
    margin: auto;
    background-color: black;
    border: 2px orange solid;
    border-collapse: collapse;
    text-align: center;
    width: 50%;
}

tr, td {
    /*border-color: #111111;*/
    border: 1px darkorange solid;
    padding: 5px;
}

th {
    background-color: #222222;
    border: 1px darkorange solid;
    padding: 5px;
}