:root {
    --orange: orange;
    --crimson: crimson;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #dddddd;
}

body {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .85) url("https://wallpaperaccess.com/full/1163018.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}

h1 {
    text-align: center;
    color: var(--orange);
    margin: 10px;
    font-size: 65px;
    text-shadow: 2px 2px black;
}

h2 {
    /*background-color: yellow;*/
    text-align: center;
    color: darkorange;
    font-size: 40px;
    margin: 2px;
}

main {
    text-align: center;
    height: calc(100% - 176px - 85px)
}

main .test input {
    width: 40%;
    height: 40px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 15px;
    color: #FFF;
    border-radius: 15px;
    font-size: 14px;
    display: block;
    margin-left: 30%;
    margin-bottom: 1%;
}

main .test2 input {
    width: 20%;
    height: 40px;
    background: #000000;
    border-radius: 40px;
    border: 1px solid var(--orange);
    padding: 0 15px;
    color: #FFF;
    font-size: 14px;
    display: block;
    margin-left: 40%;
    margin-bottom: 1%;
    transition: 0.3s;
}

main .test2 textarea {
    width: 20%;
    height: 200px;
    background: #000000;
    border-radius: 20px;
    border: 1px solid var(--orange);
    padding: 15px;
    color: #FFF;
    font-size: 14px;
    display: block;
    margin-left: 40%;
    margin-bottom: 1%;
    transition: 0.3s;
}

main .test2 textarea:focus {
    border: 1px solid var(--orange);
    background: #222222;
    outline: none;
}

main .test input:focus {
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
}

main .test2 input:focus {
    border: 1px solid var(--orange);
    background: #222222;
    outline: none;
}

::-webkit-input-placeholder {
    color: #DDD;
}

main test input.submit {
    background: rgba(255,255,255,.9);
    color: #444;
    font-size: 15px;
    margin: 40px auto 0px;
    font-weight: bold;
    width: 300px;
}

main .test2 input.submit {
    background: #000000;
    color: #ffffff;
    font-size: 15px;
    margin: 40px auto 0px;
    font-weight: bold;
    width: 300px;
    border-radius: 40px;
    border: 1px solid var(--orange);
}

main .test input.submit:hover {
    background-color: darkgrey; /* zmiana koloru */
}

main .test2 input.submit:hover {
    background-color: #222222;
    cursor: pointer;
}

#error {
    color: yellow;
}

.info {
    text-decoration: none;
    color: #DDDDDD;
}

.info:hover {
    text-decoration: underline;
}

nav {
    width: 100%;
    height: 76px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: black;
}

.menu {
    width: 80%;
    float: left;
    color: white;
    height: 76px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.option {
    float: left;
    width: 20%;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 0px;
    text-decoration: none;
    font-size: 16px;
    height: 76px;
}

.option a {
    color:white;
}

.option:hover {
    background-color: #111111;
    cursor: pointer;
}

.logo {
    float: left;
    width: 10%;
    text-align: center;
    padding: 20px;
}

.search {
    float: left;
    width: 10%;
    text-align: center;
    padding: 20px;
}

.search form input {
    border-radius: 15px;
    color: black;
    background-color: #222222;
    border-color: orange;
}

.ad1 {
    clear: both;
    float: left;
    width: 10%;
    text-align: center;
}

.articles {
    border-radius: 3px;
    text-align: center;
    height: 1000px;
}

.article {

}

.ad2 {
    float: left;
    text-align: right;
}

footer {
    background-color: #000000;
    color: #777777;
    padding: 0px;
    font-size: 40px;
    min-height: 100px;
    width: 100%;
    display: block;
}

.footerText {
    float: left;
    width: calc(100% - 300px);
    padding: 30px;
    font-size: 20px;
    color: #444444;
}

.facebookTile {
    min-height: 150px;
    min-width: 10%;
}

footer a {
    color: white;
    padding: 20px;
    display: block;
    width: 100px;
    text-align: center;
    min-height: 100px;
    transition: 0.3s;
}

.home {
    border-radius: 3px;
    text-align: center;
    height: calc(100% - 176px)
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.facebook {
    background-color: #0000CC;
    float: left;
}

.facebook:hover {
    background-color: #3333CC;
    float: left;
}

.instagram {
    background-color: #ff9999;
    float: left;
}

.instagram:hover {
    background-color: #FFBBBB;
}

.twitter {
    background-color: #55FFFF;
    float: left;
}

.twitter:hover {
    background-color: #99FFFF;
}

option a {
    text-decoration: none;
}

.container {
    width: 100%;
    min-height: 100%;
}

.content {
    width: 70%;
    height: auto;
    margin-left: 15%;
}

.user {
    min-height: 220px;
    margin-bottom: 20px;
    background-image: linear-gradient(170deg, #393f46, #0a0b10);
    border-radius: 40px;
}

.user:hover {
    box-shadow: 1px 1px darkorange;
}

.text {
    width: calc(100% - 240px);
    height: auto;
    float: right;
}

.text p {
    max-width: 90%;
    font-size: 15px;
    line-height: 25px;
    color: #919191;
    text-align: justify;
}

.icon {
    width: auto;
    float: left;
}

@media screen and (max-width:900px) {
    .icon, .text, .text p{
        width:100%;
        max-width: 100%;
    }
    .text {
        padding: 10px;
    }
    .user {
        min-height: 480px;
    }
    .icon, .icon img {
        text-align: center;
    }
    footer {
        min-height: 100px;
        width: 100%;
        display: block;
    }
}

.icon img {
    max-width: 220px;
    max-height: 220px;
    padding: 10px;
    border-radius: 40px;
}

.smallButton {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 200px;
    margin: 10px auto 30px auto;
    color: #FFFFFF;
    background-color: #000000;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid var(--orange);
    transition: 0.3s;
}

.smallButton:hover {
    background-color: #222222;
}

.pageNF {
    min-height: calc(100% - 276px - 85px);
    text-align: center;
    color: #FFFFFF;
    margin-top: 100px;
    clear: both;
}

.pageNF a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #000000;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid var(--orange);
    transition: 0.3s;
}

.pageNF a:hover {
    background-color: #222222;
}

.mail {
    border-radius: 3px;
    text-align: center;
    min-height: 100%;
}

.headercontact {

    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    color: #DDDDDD;
}

.edit {
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    float: right;
    margin: 15px;
    background-color: rgb(74, 74, 74);
    outline: none;
    display: inline-block;
}

.edit:hover {
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}

.pencilart {
    background-image: url(https://icons-for-free.com/iconfiles/png/512/edit+pen+pencil+icon-1320183237584811650.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
    padding: 10px;
}

.mail {
    border-radius: 3px;
    text-align: center;
    min-height: 100%;
}

.mail .form {
    padding: 15px 20px;
    height: 87%;
}

.mail .form input {
    width: 40%;
    height: 40px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 15px;
    color: #FFF;
    border-radius: 15px;
    font-size: 14px;
    display: block;
    margin-left: 30%;
    margin-bottom: 1%;
}

.mail .form textarea {
    width: 40%;
    height: 230px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 15px;
    color: #FFF;
    border-radius: 15px;
    font-size: 14px;
    display: block;
    margin-left: 30%;
    margin-bottom: 1%;
}

input select{
    width: 10%;
    margin-left: 45%;
}

.mail .form input:focus {
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
}

::-webkit-input-placeholder {
    color: #DDD;
}

.mail .form input.submit {
    background: rgba(255,255,255,.9);
    color: #444;
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
}

.mail .form input.submit:hover {
    background-color: darkgrey; /* zmiana koloru */
}
.mail h3{
    color: #DDDDDD;
}

.darker {
    box-shadow: 1px 1px darkorange;
    margin: 10px 0px 10px 15px;
}

.darker p {
    color: #919191;
}

article {
    border: 1px solid rgba(255,255,255,.8);
    background-image: linear-gradient(170deg, #393f46, #0a0b10);
    border-radius: 20px;
    width: 45%;
    display: inline-block;
    margin: 10px 0px 0px 2%;
    padding: 10px;
    color: #eeeeee;
}

article p img{
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 10px;
    padding: 0px 20px 20px 0px;
}

article h1{
    color: coral;
    font-size: 35px;
}

article h4 a{
    color: chartreuse;
}

article h5{
    float: right;
    margin-right: 10px;
}

@media only screen and (max-width: 1100px) {
    article {
        width: 90%;
        margin-left: 5%;
        padding-bottom: 10%;
        display: block;
    }
    article h5{
        float: none;
        text-align: right;
        margin-right: 10px;
    }

    article p img{
        width: 130px;
        height: 200px;
        float: left;
    }
}

.currentArticle article{
    width: 80%;
    margin-left: 10%;
}

textarea {
    resize: none;
}

/*-------TESTY-------*/

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
/*---KONIEC TESTÓW */

/* pagination */
ul.pagination {
    width: 100%;
    padding: 20px 0px 20px 0px;
    margin: 10px auto 30px auto;
    display: flex;
    justify-content: center;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: orange;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: orange;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}