* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #232323;
}
.login {
    background-color: #232323;
    background-size: cover;
    border-radius: 3px;
    text-align: center;
}
.login .form {
    padding: 15px 20px;
}
.login .form h2 {
    color: #FFF;
    text-align: center;
    font-size: 500%;
    padding-bottom: 3%;
    font-weight: bold;
}
.login .form input {
    width: 40%;

    height: 40px;
    margin-top: 20px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 15px;
    color: #FFF;
    border-radius: 15px;
    font-size: 14px;
    display: block;
    margin-left: 30%;
    margin-bottom: 1%;
}

.login .form input:focus {
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
}
::-webkit-input-placeholder {
    color: #DDD;
}
.login .form input.submit {
    background: rgba(255,255,255,.9);
    color: #444;
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
}
.login .form input.submit:hover {
    background-color: darkgrey; /*zmiana koloru*/
}
.info{
    text-decoration: none;
    color: #DDDDDD;
}
.home {

    margin-left: auto;
    margin-right: auto;
    background-color: #232323;
    background-size: cover;
    border-radius: 3px;


}
.home .logo{
    background-color: #232323;
    padding: 25px;
    float: left;
    width: 10%;
    min-height: 80px;
    text-align: left;


}
.home .menu{
    float: left;
    background-color: #232323;
    padding: 25px;
    width: 80%;
    align-content: center;
    text-align: center;
}

.home .info{
    float: left;
    width: 20%;
    text-align: center;
    font-weight: bold;
}
.home .chat{
    float: left;
    width: 20%;
    text-align: center;
    font-weight: bold;
}
.home .contact1{
    float: left;
    width: 20%;
    text-align: center;
    font-weight: bold;
}
.home .login{
    float: left;
    width: 20%;
    text-align: center;
    font-weight: bold;
}
.home .articles1{
    float: left;
    width: 20%;
    text-align: center;
    font-weight: bold;
}
.home .search{
    float: left;
    align-content: center;
    background-color: #232323;
    width: 10%;
    min-height: 50px;
    padding: 25px;
    text-align: right;
    font-weight: bold;
}
.home .ad1{
    clear: both;
    float: left;
    background-color: #232323;
    width: 20%;
    min-height: 60%;
    padding: 10px;
    text-align: left;

}
.home .articles {
    float: left;
    width: 60%;
}

.home .a1{

    float: left;
    width: 50%;
    text-align: center;
    min-height: 34%;
}
.home .a2{

    float: left;
    width: 50%;
    text-align: center;
    min-height: 34%;
}
.home .a3{

    clear: both;
    float: left;
    width: 50%;
    text-align: center;
    min-height: 33%;

}
.home .a4{

    float: left;
    width: 50%;
    text-align: center;
    min-height: 33%;

}
.home .a5{

    clear: both;
    float: left;
    width: 50%;
    min-height: 33%;
    text-align: center;

}
.home .a6{

    float: left;
    width: 50%;
    text-align: center;
    min-height: 33%;
}
.home .numbering{
    text-align: center;
    padding: 15px;
    width: 100%;
}
.home .ad2{
    float: left;
    background-color: #232323;
    width: 20%;
    min-height: 50px;
    padding: 10px;
}
.home .user{
    width: 20%;
    max-height: 15%;
    text-align: right;

}
.home .ad{
    width: 20%;
    max-height: 70%;
    text-align: right;

}
.home .widgets{
    width: 20%;
    max-height: 70%;
    text-align: right;

}
.home .contact{
    clear: both;
    float: left;
    width: 50%;
    text-align:center;
    padding: 15px;
}
.home .media{
    float: left;
    width: 50%;
    text-align: center;
    padding: 15px;
}
