* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #232323;
}
.login {
    background-color: #232323;
    background-size: cover;
    border-radius: 3px;
    text-align: center;
}
.login .form {
    padding: 15px 20px;
}
.login .form h2 {
    color: #FFF;
    text-align: center;
    font-size: 500%;
    padding-bottom: 3%;
    font-weight: bold;
}
.login .form input {
    width: 40%;

    height: 40px;
    margin-top: 20px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 15px;
    color: #FFF;
    border-radius: 15px;
    font-size: 14px;
    display: block;
    margin-left: 30%;
    margin-bottom: 1%;
}

.login .form input:focus {
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
}
::-webkit-input-placeholder {
    color: #DDD;
}
.login .form input.submit {
    background: rgba(255,255,255,.9);
    color: #444;
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
}
.login .form input.submit:hover {
    background-color: darkgrey; /*zmiana koloru*/
}
.info{
    text-decoration: none;
    color: #DDDDDD;
}

.top-bar {
    width: 100%;
}

.menu{
    width: 80%;
    float: left;
}
.option{
    float: left;
    width: 20%;
    padding: 20px;
    text-align: center;
    opacity: 60%;
    font-weight: bold;
    border-radius: 30px;

}
.option:hover{
    background-color: cadetblue;
    cursor: pointer;
}
.logo{
    float: left;
    width: 10%;
    text-align: center;
    padding: 20px;
}
.search{
    float: left;
    width: 10%;
    text-align: center;
    padding: 20px;
}
.ad1{
    clear: both;
    float: left;
    width: 10%;
    text-align: center;
}
.articles{
    float: left;
    width: 80%;
    text-align: center;
}
.article{

}
.ad2{
    float: left;
    text-align: right;

}